/* src/components/atoms/Text/Text.module.css */

.text {
  font-family: "montserrat";
}

.body {
  font-size: 16px;
}

.heading {
  font-size: 72px;
  font-weight: 600;
  color: #97c120;
}

.subheading {
  font-size: 18px;
  font-weight: 500;
}

.bold {
  font-weight: bold;
}

.primary {
  color: #655281;
}

.fileName {
  font-size: 20px;
  color: #655281;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 160px;
  height: 22px;
}

.pagesCountInCard {
  font-size: 14px;
  color: #787878;
}

.searchFilesText {
  color: #97c120;
  font-size: 32px;
  margin: 0px;
}

.loadFilesText {
  color: #97c120;
  font-size: 50px;
  font-weight: 400;
  font-family: "montserrat";
  margin: 0px;
  font-style: bold;
}

.loadFilesSubText {
  font-size: 20px;
  text-align: center;
  color: #787878;
  width: 372px;
}

.loadedFilesCount {
  font-size: 15px;
  text-align: center;
  color: #787878;
  margin: 2px;
}
